{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block nav_item %}

<li class="nav-item">
    <a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link active" href="/about">About</a>
</li>

{% endblock nav_item %}

{% block body %}

    <div class="container my-3">
        <h2>About Page</h2>
        <div class="mb-3"></div>
        <p>
            This is a simple todo web-app created with Python Flask framework.
        </p>
    </div>

    </div>

{% endblock body %}   